STM32F407Discovery/ProofOfConcept/C++/build/
*.bin
*.elf
*.o
STM32F407Discovery/.vscode/settings.json

STM32F407Discovery/build/target/*.*
STM32F407Discovery/build/target/Makefile
STM32F407Discovery/build/target/CMakeFiles/*

STM32F407Discovery/build/target/src/*.*
STM32F407Discovery/build/target/src/Makefile
STM32F407Discovery/build/target/src/CMakeFiles/*

STM32F407Discovery/build/target/src/apps/*.*
STM32F407Discovery/build/target/src/apps/Makefile
STM32F407Discovery/build/target/src/apps/CMakeFiles/*

STM32F407Discovery/build/target/src/apps/led/*.*
!STM32F407Discovery/build/target/src/apps/led/*.map
!STM32F407Discovery/build/target/src/apps/led/*.out
STM32F407Discovery/build/target/src/apps/led/Makefile
STM32F407Discovery/build/target/src/apps/led/CMakeFiles/*
